.carousel-container {
    position: relative;
    max-width: 70%;
    max-height: 1200px;
    margin-inline: auto;
}

.background-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    font-size: 1.75rem;
    line-height: 2.25rem;
    letter-spacing: -0.03125rem;
    font-weight: bold;
    gap: 40px;
    border: 1px solid gray; 
    border-radius: 5px;
    box-sizing: border-box; 
}

.text-p {
    font-weight: 400;
    font-size: 18px;
}

.overlay-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Hide anything outside the div */
    border: 1px solid gray; /* Ensure border is visible */
    border-radius: 5px;
}

.video-background {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video covers the container */
}
